// @use '@style/variable' as var;
// @use '@var' as *;
@use '@style/mixin' as *;

.home {
	width: 100%;
	background-color: black;
	@include flex(column);
	@include alignItems;

	.contents {
		position: relative;
		width: 100%;
		height: 100%;
		@include flex(column);
		@include alignItems;
	}
}
