@use '@style/mixin' as *;

.intro {
	position: relative;
	@include flex(column);
	@include alignItems;
	justify-content: center;
	width: 100%;
	height: 100vh;
	color: white;
	// overflow: hidden;
	.text-box {
		@include flex;
		@include alignItems;
		justify-content: center;
		width: 80vw;
		height: 100%;
		opacity: 0;
		transform: translateY(-100px);
		transition: all 1s;
		p {
			font-family: 'NanumBarunpen';
			font-style: normal;
			font-weight: 400;
			font-size: 4.6vmin;
			line-height: 82px;
			text-align: center;
			word-break: keep-all;
			&.icon {
				font-size: 15.2vmin;
				line-height: 180px;
			}
		}
		.text {
			display: block;
			margin: 0 50px;
		}
	}

	.image-box {
		position: relative;
		bottom: 0;
		width: 100%;
		@include flex;
		@include alignItems;
		justify-content: center;
		opacity: 0;
		transform: translateY(100px);
		transition: all 1.5s 1s;
		.image {
			width: 100%;
			height: 300px;
			margin: 0 16px;
			@include bgOption('../../../style/image/slider-group.png');
			background-size: cover;
			transition: background-position 30s 2.5s linear;
		}
	}

	&.active {
		.text-box {
			opacity: 1;
			transform: translateY(0);
		}
		.image-box {
			opacity: 1;
			transform: translateY(0);
			.image {
				background-position: 100% 0;
			}
		}
	}
}
