// @import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=NanumBarunpen:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css');
@font-face {
	font-family: 'Paytone One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/paytoneone/v13/0nksC9P7MfYHj2oFtYm2ChTtgPs.woff2) format('woff2');
}
@font-face {
	font-family: 'NanumBarunpen';
	src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
